@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');

/*
To remove default styling
*/
* {
  margin: 0;
  padding: 0;
}

/*
To hide and reveal modals as called
*/
.flex {
  display: flex;
}

.hide {
  display: none;
}

.body-area {
  background: linear-gradient(to bottom right, #aadaff, #a3ace8, #b177f3);
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Opens Sans", sans-serif;
}

header {
  background: #f5faff;
  z-index: 99;
  font-family: 'Montserrat', sans-serif;
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  padding: 0.7rem;
  text-align: center;
  color: #000000;
}

.heading a {
  text-decoration: none;
  color: inherit;
}

#quiz-area {
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-area {
  margin: 2%;
  padding: 1rem;
  border: 2px solid #012A6D;
  border-radius: 4px;
  flex-direction: column;
}

.welcome-header {
  text-align: center;
  padding: 1rem;
}

.instructions {
  padding: 1rem;
}

.centre-button {
  display: flex;
  justify-content: center;
}

.start-quiz {
  background-color: #560BAD;
  color: #f5faff;
  font-weight: 600;
  font-size: large;
  transition: all 200ms ease-in;
  margin: 1%;
  padding: 1rem;
  border: 1.5px solid #012A6D;
  border-radius: 4px;
}

.start-quiz a {
  color: inherit;
  text-decoration: none;
}

.start-quiz:hover {
  background-color: #0266C7;
  color: #f5faff;
}

.question {
  font-size: larger;
  padding: 0.75rem;
}

#question-text {
  margin-left: -10px;
}

.multiple-choice-header {
  font-size: medium;
}

.multiple-choice-area button {
  min-width: 200px;
  width: 100%;
}

.choice,
.next-question {
  margin: 1%;
  padding: 1rem;
  border: 1.5px solid #012A6D;
  border-radius: 4px;
  background-color: #f5faff;
  font-weight: 600;
  font-size: large;
  transition: all 200ms ease-in;
  text-align: left;
}

.next-question {
  background-color: #560BAD;
  width: 158px;
  color: #F5FaFF;
}

.active,
.choice:hover,
.next-question:hover {
  background-color: #0266C7;
  color: #ffffff;
}

.disabled {
  pointer-events: none;
}

#feedback-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#incorrect-answer,
#final-result {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 10%;
  min-height: 300px;
  height: 70vh;
  width: 85vw;
  background: #ffffff;
  border: 3px solid #012A6D;
  border-radius: 8px;
  color: #012A6D;
  left: 7.5%;
  padding: 0.2rem;
}

.close-modal,
.play-again,
.home-page {
  margin: 1%;
  padding: 1rem;
  border: 1.5px solid #012A6D;
  border-radius: 4px;
  background-color: #560BAD;
  color: #FFFFFF;
  font-weight: 600;
  font-size: large;
  transition: all 200ms ease-in;
}

.home-page {
  text-decoration: none;
}

.final-scores {
  list-style-type: none;
}

.feedback-area {
  margin: 0 2% 2%;
  padding: 1rem;
  border: 2px solid #012A6D;
  border-radius: 4px;
  min-height: 10vh;
  background-color: #F5faff;
}

#reasons {
  font-size: smaller;
  min-height: 2%;
}

.score-area {
  margin: 0 2% 2%;
  padding: 0.5rem;
  border: 2px solid #012A6D;
  border-radius: 4px;
  background: #F5faff;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 10vh;
  align-items: center;
}

.score-area i {
  padding: 0.5rem;
}

.score {
  padding: 0.2rem;
  margin: 1rem;
}

.footer {
  background: #f5faff;
  font-size: 2rem;
  position: sticky;
  top: 96vh;
}

.footer-icons {
  list-style-type: none;
  justify-content: space-evenly;
  flex-direction: row;
}

/* small mobiles */
@media (min-width: 500px) {

  .welcome-popup-outer {}

  .multiple-choice-area {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .score-area {
    flex-direction: row;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .move-next-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .multiple-choice-area button {
    min-width: 450px;
    width: 65vw;
  }

  .next-question {
    width: 158px;
    margin-bottom: 5px;
  }
}

/* Large devices (laptops desktops, 992px and up) */
@media (min-width: 992px) {

  #feedback,
  #reasons {
    font-size: larger;
  }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media (min-width: 1500px) {
  .game-area {
    font-size: xx-large;
  }

  .multiple-choice-header {
    font-size: larger;
  }

  .multiple-choice-area button {
    width: 72vw;
  }

  .choice,
  .next-question {
    font-size: xx-large;
  }

  .next-question {
    width: 252px;
  }

  .incorrect-answer {
    font-size: larger;
  }
}