@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
}

.body-area {
  background: #99E0FF;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

header {
  background: #FFFFFF;
  z-index: 99;
  font-family: 'Montserrat', sans-serif;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  padding: 1rem;
  text-align: center;
}

.game-area {
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.question-area {
  margin: 1% 3% 0 3%;
  padding: 0.5rem;
  border: 2px solid #2D60B4;
  border-radius: 4px;
}

.question {
  font-size: larger;
}

.multiple-choice-header {
  font-size: medium;
}

.choice-area {
  margin: 1%;
  padding: 0.5rem;
  border: 2px solid #2D60B4;
  border-radius: 4px;
}

.choice,
.next-question {
  margin: 1%;
  padding: 1rem;
  border: 1.5px solid #2D60B4;
  border-radius: 4px;
  background-color: #FFFFFF;
  display: flex;
  font-weight: 600;
  font-size: large;
  transition: all 200ms ease-in-out;
  text-align: left;
}

.next-question {
  background-color: #99E0FF;
}

.choice:hover,
.next-question:hover {
  background-color: #1F8FFF;
  color: #FFFFFF;
}

.feedback-area {
  margin: 1% 3%;
  padding: 0.5rem;
  border: 2px solid #2D60B4;
  border-radius: 4px;
  min-height: 5%;
}

.score-area {
  margin: 0 3% 1%;
  padding: 0.5rem;
  border: 2px solid #2D60B4;
  border-radius: 4px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.score-area i {
  padding: 0.5rem;
}

.score {
  padding: 1rem;
  margin: 1rem;
}

footer {
  background: #FFFFFF;
  font-size: 2rem;
}

.footer-icons {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

@media (min-width: 500px) {

  .score-area {
    flex-direction: row;
  }
}

@media (min-width: 820px) {
  .body-area {
    font-size: larger;
  }
}

@media (min-width: 1500px) {

  .body-area {
    font-size: xx-large;
  }

  .welcome-popup-inner {
    font-size: 3rem;
  }

  .close-welcome {
    font-size: 3rem;
  }
}